# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*
* List popular languages for Data Science
* Discover tools used by data scientists
* Learn about what languges used by data scientists most

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

# Data Science Tools
|Data Science Tools|
|---|
|Apache hadoop|
|Tensor flow|
|Apache shark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Nguyá»…n Quang Huy